:root {
  --bg-color-main: #fff;
  --bg-color-secondary: #f5f4fa;
  --bg-color-dark: #2f303a;
  --font-color-main: #212121;
  --font-color-secondary: #757575;
  --font-color-white: #fff;
  --font-color-black: #000;
  --accent-color: #2196f3;
  --accent-color-op09: rgba(33, 149, 243, 0.9);
  --bg-colour-button-hover: #188ce8;
  --border-color: #ececec;
  --social-link-color: #afb1b8;
  --btn-boxshadow-color: rgba(0, 0, 0, 0.15);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --team-mate-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --card-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --transparent-links: rgba(255, 255, 255, 0.6);
  --item-set-gap: 30px;
  --transparent-items: rgba(47, 48, 58, 0.8);
  --backdrop-op02: rgba(0, 0, 0, 0.2);
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
  --transiton-duration-time: 250ms;
}

.btn-menu, .close-icon--mobile, .social__link, .social__icon, .link, .clients-list__item, .clients-list__icon, .btn-filter, .portfolio-list__link, .thumb__descr--text, .portfolio-list__link:hover .thumb__descr--text,
.portfolio-list__link:focus .thumb__descr--text, .modal-form__input, .modal-form__comment, .input-icon, .checkbox-icon, .btn-form, .backdrop, .backdrop__is-hidden, .close-icon {
  -webkit-transition-duration: var(--transiton-duration-time);
          transition-duration: var(--transiton-duration-time);
  -webkit-transition-timing-function: var(--timing-fn);
          transition-timing-function: var(--timing-fn);
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--font-color-main);
  background-color: var(--bg-color-main);
}

.container {
  max-width: 480px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
}

@media screen and (min-width: 768px) {
  .container--header {
    padding: 0px 15px;
  }
}

@media screen and (min-width: 768px) {
  .container--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .container--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -----Breakpoints----- */
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo--footer {
  color: var(--font-color-white);
}

.logo__accent {
  color: var(--accent-color);
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--font-color-white);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.btn-order {
  margin: 30px 0 0;
  padding-left: 32px;
  padding-right: 32px;
  -webkit-box-shadow: 0px 4px 4px var(--btn-boxshadow-color);
          box-shadow: 0px 4px 4px var(--btn-boxshadow-color);
}

.btn-subscribe {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 29px;
}

@media screen and (min-width: 1200px) {
  .btn-subscribe {
    margin-left: 12px;
  }
}

.subscribe-icon {
  margin-left: 10px;
  vertical-align: middle;
  fill: var(--font-color-white);
}

.menu-container .btn-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

.btn-menu {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  -webkit-transition-property: fill;
  transition-property: fill;
}

@media (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}

.btn-menu:hover,
.btn-menu:focus {
  fill: var(--accent-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.close-icon--mobile:hover, .close-icon--mobile:focus {
  color: var(--accent-color);
}

.social {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social--footer {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .social--footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__link--footer {
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.social__icon {
  fill: var(--social-link-color);
  -webkit-transition-property: fill;
  transition-property: fill;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--bg-color-main);
}

.social__icon--footer {
  fill: var(--bg-color-main);
}

.footer-social {
  margin-top: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 86px;
    text-align: unset;
  }
}

.footer-social__title {
  font-weight: 500;
  line-height: 1.172;
  text-transform: uppercase;
  color: var(--font-color-white);
}

.page-header {
  border-bottom: 1px solid var(--border-color);
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header-nav__list {
  display: none;
  margin-left: 93px;
}

@media screen and (min-width: 768px) {
  .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-nav__item:not(:first-child) {
  margin-left: 50px;
}

.link {
  -webkit-transition-property: color;
  transition-property: color;
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .link {
    padding: 32px 0;
  }
}

.current {
  color: var(--accent-color);
  position: relative;
}

@media screen and (min-width: 768px) {
  .current::after {
    content: " ";
    position: absolute;
    top: 80px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .current::after {
    top: 78px;
  }
}

.header-contacts {
  display: none;
  color: var(--font-color-secondary);
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__item:nth-child(2) {
    margin-left: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .header-contacts .link {
    padding: 0;
  }
}

@media screen and (max-width: 1199px) {
  .link--header.mail {
    display: block;
    margin-bottom: 10px;
    padding-top: 21px;
  }
  .link--header.tel {
    display: block;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .link--header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.welcome {
  padding: 118px 0;
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/welcome-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/welcome-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg-color-dark);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .welcome {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/welcome-mobile@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/welcome-mobile@2x.jpg");
  }
}

@media screen and (min-width: 481px) {
  .welcome {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/welcome-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/welcome-tablet.jpg");
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .welcome {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/welcome-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/welcome-tablet@2x.jpg");
  }
}

@media (min-width: 769px) {
  .welcome {
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/welcome-desktop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/welcome-desktop.jpg");
  }
}

@media (min-width: 769px) and (min-device-pixel-ratio: 2), (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 769px) and (min-resolution: 192dpi), (min-width: 769px) and (min-resolution: 2dppx) {
  .welcome {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/welcome-desktop@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/welcome-desktop@2x.jpg");
  }
}

.welcome__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--font-color-white);
}

@media screen and (min-width: 1200px) {
  .welcome__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.advantages {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding: 94px 0;
  }
}

.advantages__list {
  display: block;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.advantages__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    max-width: 270px;
    margin-bottom: 0;
  }
  .advantages__item:not(:first-child) {
    margin-left: var(--item-set-gap);
  }
}

.advantages__item--title {
  margin-top: 30px;
  font-weight: 700;
  line-height: 1.172;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantages__item--title {
    text-align: left;
  }
}

.advantages__item--text {
  margin-top: 10px;
  line-height: 1.714;
  color: var(--font-color-secondary);
}

.advantages__wrapper {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background-color: var(--bg-color-secondary);
}

.visuals {
  display: none;
}

@media screen and (min-width: 1200px) {
  .visuals {
    display: block;
    padding-bottom: 94px;
  }
}

.visuals__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.visuals-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  margin-left: calc(-1 * var(--item-set-gap));
}

.visuals-list__item {
  position: relative;
  -ms-flex-preferred-size: calc(100% / 3 - var(--item-set-gap));
      flex-basis: calc(100% / 3 - var(--item-set-gap));
  margin-left: var(--item-set-gap);
}

.visuals__descr {
  padding: 27px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--transparent-items);
}

.visuals__descr--title {
  font-weight: 500;
  line-height: 1.142;
  text-align: center;
  text-transform: uppercase;
  color: var(--font-color-white);
}

.team {
  background-color: var(--bg-color-secondary);
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
  }
}

.team-mate {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .team-mate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 50px;
    margin-left: calc(-1 * var(--item-set-gap));
  }
}

.team-mate__card {
  max-width: 450px;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  background-color: var(--bg-color-main);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: var(--team-mate-box-shadow);
          box-shadow: var(--team-mate-box-shadow);
}

@media screen and (min-width: 768px) {
  .team-mate__card {
    -ms-flex-preferred-size: calc(100% / 2 - var(--item-set-gap));
        flex-basis: calc(100% / 2 - var(--item-set-gap));
    margin-left: var(--item-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .team-mate__card {
    -ms-flex-preferred-size: calc(100% / 4 - var(--item-set-gap));
        flex-basis: calc(100% / 4 - var(--item-set-gap));
    margin-left: var(--item-set-gap);
  }
}

.team-mate__thumb {
  max-height: 622px;
}

.team-mate__thumb img {
  width: 100%;
  max-height: 460px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

@media screen and (min-width: 768px) {
  .team-mate__thumb img {
    width: 100%;
    max-height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team-mate__thumb img {
    width: 100%;
    max-height: 260px;
  }
}

.team-mate__meta {
  padding: 30px;
}

.team-mate__name {
  font-weight: 500;
}

.team-mate__position {
  margin-top: 10px;
  color: var(--font-color-secondary);
}

.clients {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.clients-list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

@media screen and (max-width: 450px) {
  .clients-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.clients-list__item {
  width: 210px;
  height: 90px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
}

.clients-list__item:focus, .clients-list__item:hover {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  fill: var(--accent-color);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: 170px;
    margin-bottom: 0px;
  }
  .clients-list__item:not(:first-child) {
    margin-left: 30px;
  }
}

.clients-list__icon {
  fill: var(--social-link-color);
  -webkit-transition-property: fill;
  transition-property: fill;
}

.clients-list__item:focus .clients-list__icon,
.clients-list__item:hover .clients-list__icon {
  fill: var(--accent-color);
}

.portfolio {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item {
  margin: 0 8px 0 0;
  margin-bottom: 15px;
}

.btn-filter {
  padding: 6px 22px;
  border: 0px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: var(--font-color-main);
  background-color: var(--bg-color-secondary);
  border-radius: 4px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  cursor: pointer;
  outline: none;
}

.btn-filter:active, .btn-filter:hover, .btn-filter:focus {
  color: var(--font-color-white);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  outline: none;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * var(--item-set-gap));
    margin-top: calc(-1 * var(--item-set-gap));
  }
}

.portfolio-list__item {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .portfolio-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: calc(100% / 2 - var(--item-set-gap));
        flex-basis: calc(100% / 2 - var(--item-set-gap));
    margin-left: var(--item-set-gap);
    margin-top: var(--item-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    display: block;
    -ms-flex-preferred-size: calc(100% / 3 - var(--item-set-gap));
        flex-basis: calc(100% / 3 - var(--item-set-gap));
  }
}

.portfolio-list__item--title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--font-color-main);
}

.portfolio-list__item--subtitle {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--font-color-secondary);
}

.portfolio-list__link {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
}

.portfolio-list__link:focus, .portfolio-list__link:hover {
  -webkit-box-shadow: var(--card-box-shadow);
          box-shadow: var(--card-box-shadow);
}

@media screen and (min-width: 768px) {
  .portfolio-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list__link {
    display: block;
  }
}

.text-wrapper {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}

@media screen and (min-width: 768px) {
  .text-wrapper {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.thumb {
  position: relative;
}

.item-image {
  width: 100%;
}

.thumb__descr {
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.thumb__descr--text {
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: var(--font-color-white);
  background-color: var(--accent-color-op09);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: background-color, color, -webkit-transform;
  transition-property: background-color, color, -webkit-transform;
  transition-property: transform, background-color, color;
  transition-property: transform, background-color, color, -webkit-transform;
}

.portfolio-list__link:hover .thumb__descr--text,
.portfolio-list__link:focus .thumb__descr--text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-property: background-color, color, -webkit-transform;
  transition-property: background-color, color, -webkit-transform;
  transition-property: transform, background-color, color;
  transition-property: transform, background-color, color, -webkit-transform;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form__field {
  margin-top: 10px;
}

.modal-form__field:first-child {
  margin-top: 12px;
}

.modal-form__label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--font-color-secondary);
}

.modal-form__label:last-child {
  margin-bottom: 0;
}

.modal-form__input--wrapper {
  position: relative;
}

.modal-form__input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
}

.modal-form__input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal-form__comment {
  resize: none;
  min-height: 120px;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
}

.modal-form__comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.modal-form__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.modal-form__comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.modal-form__comment::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.modal-form__comment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: currentColor;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.modal-form__input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-form__comment {
  height: 120px;
}

.checkbox {
  margin-top: 20px;
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
  }
}

.checkbox-icon {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--font-color-black);
  border-radius: 2px;
  fill: var(--font-color-white);
  -webkit-transition-property: background-color, fill, border-color;
  transition-property: background-color, fill, border-color;
}

.checkbox__input:focus + .checkbox-icon {
  border-color: var(--accent-color);
}

.checkbox__input:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  border: 0px solid transparent;
}

.checkbox__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-form {
  margin-top: 30px;
  padding-left: 55px;
  padding-right: 55px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.btn-form:hover, .btn-form:focus {
  background-color: var(--bg-colour-button-hover);
}

.footer-form {
  margin-top: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-top: 0;
    margin-left: auto;
    text-align: unset;
  }
}

.footer-form__title {
  font-weight: 500;
  line-height: 1.172;
  text-transform: uppercase;
  color: var(--font-color-white);
}

.footer-form__label {
  display: block;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form__label {
    display: inline-block;
  }
}

.modal__form-input--footer {
  height: 50px;
  min-width: 100%;
  margin-bottom: 20px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--placeholder-color);
}

@media screen and (min-width: 768px) {
  .modal__form-input--footer {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__form-input--footer {
    min-width: 358px;
    margin-bottom: 0;
  }
}

.page-footer {
  padding: 60px 0;
  background-color: var(--bg-color-dark);
}

.footer-info {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-info {
    text-align: unset;
  }
}

.footer-info__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.712;
  letter-spacing: 0.03em;
  color: var(--font-color-white);
}

.link--footer {
  margin-top: 9px;
  padding: 0;
  color: var(--transparent-links);
}

.link--footer:hover, .link--footer:focus {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-op02);
  pointer-events: none;
  -webkit-transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, transform;
  transition-property: opacity, visibility, transform, -webkit-transform;
}

.backdrop__is-hidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, transform;
  transition-property: opacity, visibility, transform, -webkit-transform;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 450px;
  max-height: 100vh;
  padding: 40px;
  background-color: var(--bg-color-main);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow-y: auto;
  pointer-events: auto;
}

@media screen and (max-width: 479px) {
  .modal {
    min-width: 95%;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal-content__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--font-color-main);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--bg-color-main);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.close-icon {
  fill: currentColor;
  -webkit-transition-property: fill, -webkit-transform;
  transition-property: fill, -webkit-transform;
  transition-property: fill, transform;
  transition-property: fill, transform, -webkit-transform;
}

.btn-close:active .close-icon,
.btn-close:hover .close-icon,
.btn-close:focus .close-icon {
  fill: var(--accent-color);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form__field {
  margin-top: 10px;
}

.modal-form__field:first-child {
  margin-top: 12px;
}

.modal-form__label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--font-color-secondary);
}

.modal-form__label:last-child {
  margin-bottom: 0;
}

.modal-form__input--wrapper {
  position: relative;
}

.modal-form__input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
}

.modal-form__input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal-form__comment {
  resize: none;
  min-height: 120px;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
}

.modal-form__comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.modal-form__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.modal-form__comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.modal-form__comment::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.modal-form__comment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: currentColor;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.modal-form__input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-form__comment {
  height: 120px;
}

.checkbox {
  margin-top: 20px;
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
  }
}

.checkbox-icon {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--font-color-black);
  border-radius: 2px;
  fill: var(--font-color-white);
  -webkit-transition-property: background-color, fill, border-color;
  transition-property: background-color, fill, border-color;
}

.checkbox__input:focus + .checkbox-icon {
  border-color: var(--accent-color);
}

.checkbox__input:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  border: 0px solid transparent;
}

.checkbox__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-form {
  margin-top: 30px;
  padding-left: 55px;
  padding-right: 55px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.btn-form:hover, .btn-form:focus {
  background-color: var(--bg-colour-button-hover);
}

.footer-form {
  margin-top: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-top: 0;
    margin-left: auto;
    text-align: unset;
  }
}

.footer-form__title {
  font-weight: 500;
  line-height: 1.172;
  text-transform: uppercase;
  color: var(--font-color-white);
}

.footer-form__label {
  display: block;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form__label {
    display: inline-block;
  }
}

.modal__form-input--footer {
  height: 50px;
  min-width: 100%;
  margin-bottom: 20px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--placeholder-color);
}

@media screen and (min-width: 768px) {
  .modal__form-input--footer {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__form-input--footer {
    min-width: 358px;
    margin-bottom: 0;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--bg-color-main);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-nav__item .link {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.link--mobile.tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.link--mobile.mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: var(--font-color-secondary);
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

@media screen and (max-width: 400px) {
  .mobile-social {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.mobile-social__item {
  margin-right: 20px;
  position: relative;
}

@media screen and (max-width: 400px) {
  .mobile-social__item {
    margin-bottom: 10px;
  }
}

.mobile-social__item--line:after {
  content: "";
  position: absolute;
  top: 10px;
  right: -21px;
  width: 22px;
  height: 0px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-social__link:hover,
.mobile-social__link:focus {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */