.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  &--footer {
    color: var(--font-color-white);
  }
}

.logo__accent {
  color: var(--accent-color);
}